@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fredoka&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    text-align: center;
    background-color: black;

}

a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: "Fredoka", sans-serif;

}

h1{
    color: #313131;
    margin-top:400px
    font-family: "Fredoka", sans-serif;
    ;
  

}

h1:hover{
    color: #ffffff;
    transform: scale(1.02);
    transition: 0.5s;

}

h1:after{
    color: #313131;
    transform: scale(1);

    transition: 1s;

}

.thing{
    background-color: #0c0c0c;
    height: 950px;
    border-radius: 30px;
}

.thing:hover{
    transform: scale(1.02);
    transition: 0.5s;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

button{
    position: relative;
    width: 180px;
    height: 75px;
    margin: 30px;
    line-height: 70px;
    background: #ffffff00;
    font-size: 20px;
    border-radius: 5px;
    border: 1px black;
}

button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
    border-radius: 5px;

}
button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    border-radius: 15px;

}

button:hover::before,
button:hover::after{
    opacity: 1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

a:hover{
    transform: scale(1.02);

}
button span{
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    z-index: 1;
    border-radius: 15px;

}

button:hover span{

    color: rgba(255, 255, 255, 1);
}

button span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}